<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<section>
			<h2>About Me</h2>
			<p>Hello, I am Jeffery and my student id is jho-kin-pou. I am a student in the Business Information
				Technology program at Seneca Polytechnic.</p>
		</section>

		<!-- End your code here  -->



	</main>
</div>