<div class="row">
    <main class="col-md-12">



        <!-- Start your code here -->

        <section>
            <h2>Tables</h2>
            <table class="table" border="2" cellpadding="10">
                <caption>Table 1</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Vegetable</th>
                        <th>Fruit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apple</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Carrot</td>
                        <td>Yes</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Tomato</td>
                        <td colspan="2">Actually a fruit, but called vegetable</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Footer for Table 1</td>
                    </tr>
                </tfoot>
            </table>
            <table class="table" border="2" cellpadding="10">
                <caption>Table 2</caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apple</td>
                        <td>Fruit</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Carrot</td>
                        <td>Vegetable</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">Tomato (Actually a fruit, but called vegetable)</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>No</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Footer for Table 2</td>
                    </tr>
                </tfoot>
            </table>
            <p>This section demonstrates the use of HTML tables with various elements and properties.</p>
        </section>

        <section>
            <h2>Lists</h2>
            <ul>
                <li>Apple</li>
                <li>Orange</li>
                <li>
                    Banana with <b>nested ordered list</b>
                    <ol>
                        <li>Green Banana</li>
                        <li>Ripe Banana</li>
                        <li>Banana Chips</li>
                    </ol>
                </li>
                <li>Grapes</li>
                <li>Strawberry</li>
            </ul>
            <p>This section demonstrates the use of HTML lists.</p>
        </section>

        <section>
            <h2>Images</h2>
            <div>
                <div>
                    <img src="https://jbstechinfo.com/wp-content/uploads/2023/08/JavaScript-Symbol-1024x576.png"
                        alt="JavaScrip Logo" style="width:500px;height:250px;">
                </div>
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png"
                        alt="HTML Logo" style="width:250px;height:250px;">
                </div>
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/800px-CSS3_logo_and_wordmark.svg.png"
                        alt="CSS Logo" style="width:180px;height:250px;">
                </div>
            </div>
            <p>This section demonstrates the use of HTML images.</p>
        </section>

        <section>
            <h2>Audio</h2>
            <audio controls>
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
                    type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p>This section demonstrates the use of HTML5 audio player.</p>
        </section>

        <section>
            <h2>Video</h2>
            <video width="100%" controls>
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
                    type="video/mp4">
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
                    type="video/ogg">
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
                    type="video/webm">
                Your browser does not support the video element.
            </video>
            <p>This section demonstrates the use of HTML5 video player.</p>
        </section>


        <!-- End your code here  -->



    </main>
</div>